version: 2

jobs:
  working_directory: docs/
  test:
    docker:
      - image: python:3.7
    steps:
       - checkout
       - run:
          name: Install dependencies
          command: pip install -r requirements.txt
       - run:
          name: Test
          command: pytest

  docs-build:
    docker:
      - image: python:3.7
    steps:
      - checkout
      - run:
          name: Install dependencies
          command: pip install -r docs/requirements.txt
      - run:
          name: Build docs
          command: make html
      - run:
          name: Link Check
          command: sphinx-build -b docs/ docs/_build
      - persist_to_workspace:
          root: _build
          paths: html

  docs-deploy:
    docker:
      - image: node:8.10.0
    steps:
      - checkout
      - attach_workspace:
          at: _build
      - run:
          name: Install and configure dependencies
          command: |
            npm install -g --silent gh-pages@2.0.1
            git config user.email "jrschlitz@gmail.com"
            git config user.name "SG004"
      - run:
          name: Deploy docs to gh-pages branch
          command: gh-pages --dist docs/_build/html

workflows:
  version: 2
  build:
    jobs:
      - test
      - docs-build
      - docs-deploy:
          requires:
            - test
            - docs-build
          filters:
            branches:
              only: master


